<div class="center pt-5">
    <div class="card p-5 ">    
        <h1 style="color: green;" class="display-3 font-weight-light">Consultas Facturas Enel</h1>
        <div class="row mt-4">
            <div class="input-group mb-3 col-6">
                <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile03" (change)="onFileChange($event)" aria-describedby="inputGroupFileAddon03">
                <label class="custom-file-label" for="inputGroupFile03">Choose file</label>
                </div>
            </div>        
            <div class="col-3"><button class="btn btn-success" (click)="consultaMasiva()">Consultar Todos</button></div>
            <div class="col-3"><button class="btn btn-primary" (click)="export()">Exportar Excel</button></div>
        </div>     
        <table class="table" *ngIf="complete">
            <tr *ngFor="let row of data">
                <td *ngFor="let val of row">
                    {{val}}
                </td>
            </tr>
        </table>
        <div class="mx-auto mt-5" *ngIf="!complete">
                <div class="spinner-grow text-success" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-warning" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
        </div>        
    </div>    
</div>